* {
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: auto;

	background-color: #333333;
}
.container {
	display: flex;
	align-items: center;
	
	flex-direction: column;
		
	width: 100vw;
	height: auto;

	overflow-y: scroll;
	overflow-x: hidden;

	background-color: #222222;
}
	header {
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: serif;

		width: 100%;
		height: 10vh;

		background-color: #111111;
		color: #FFF;
	}
		.headerTitle {
			font-family: serif;
		}
	.main {
		display: flex;
		align-items: center;

		flex-direction: column;

		font-family: serif;

		width: 100vw;
		height: auto;

		overflow-y: scroll;
		overflow-x: hidden;

		color: #FFF;
	}
		.wishList {
			display: flex;
			justify-content: center;
			align-items: center;
			
			flex-direction: column;	

			font-family: serif;

			width: 50vw;
			height: 70vh;

			overflow-y: scroll;
			overflow-x: hidden;

			color: #FFF;
		}
			.wish {
				display: flex;
				justify-content: center;
				align-items: center;	

				font-family: serif;

				width: 40vw;
				height: 50px;
	
				margin-top: 10px;
				margin-bottom: 10px;

				border-radius: 10px;

				background-color: #111111;
				color: #FFF;
			}
		.addWish {
			display: flex;
			justify-content: center;
			align-items: center;
	
			flex-direction: column;

			font-family: serif;

			width: 200px;
			height: 20vh;

			color: #FFF;
		}
			#prompt-text {
				width: 200px;
				height: 12.5;
				color: white;
				background-color: #101010;
				border: none;
			}
			.Btns {
				
				height: 25px;
				width: 200px;
				
				display: flex;
				justify-content: space-between;
			}
				#promptbtn {
					width: 100px;
					height: 12.5;
					color: white;
					background-color: #090909;
					border: none;
				}
				#loadbtn {
					width: 100px;
					height: 12.5;
					color: white;
					background-color: #090909;
					border: none;	
				}
	footer {
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: serif;

		width: 100vw;
		height: 10vh;

		background-color: #111111;
		color: #FFF;
	}
